  <footer class="footer">
    <div class="container-fluid text-center">
      <span id="copyright" class="text-center">&copy; Copyright 2018 Sue J. Stevens (<a href="mailto:StevensStock@gmail.com" class="email">StevensStock@gmail.com</a>)</span>
    </div>
  </footer>