    <nav class="navbar navbar-expand-md navbar-light head mb-0 py-0 container-top">

      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link py-0" href="index" id="brand">Sue J. Stevens, Application Developer</a>
          </li>
        </ul>
      </div>

      <div class="mx-auto order-0">
        <a class="mx-auto" href="index">
          <img src="/assets/brand/color_logo_with_background1_120x120.png" alt="SJS Logo" class="rounded-circle" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto text-right">
          <li class="nav-item active">
            <a class="nav-link py-0" href="index">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-0" href="about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-0" href="portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-0" href="contact">Contact</a>
          </li>
        </ul>
      </div>

    </nav>
