/*
Import Fonts
font-family: 'B612 Mono', monospace;
font-family: 'Aleo', serif;
font-family: 'Arimo', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

Logo Color:  Barn Red: #7C0A02;  https://www.colorhexa.com/7C0A02  
             Brown: #7c4702;  https://www.colorhexa.com/7c4702
             Brown: #4a0601;  https://www.colorhexa.com/7c4702
             Brown: #310401;  https://www.colorhexa.com/7c4702
             Very Dark desaturated blue: #1F2936; https://www.colorhexa.com/1f2936
*/
@import url('https://fonts.googleapis.com/css?family=Aleo|Arimo|B612+Mono|Roboto|Roboto+Condensed');

/*Custom classes used for testing purposes
.red-border {
  border-style: solid;
  border-color: red;
}

.blue-border {
  border-style: solid;
  border-color: blue;
}
*/

/* Customize my name and title in the nav bar */
#brand {
  /*font-family: 'IM Fell Great Primer', serif !important;*/
 color: #1F2936;
 font-size: 1.3rem;
 text-decoration: none;
 background-color: inherit;
}

/*Customize important elements on the page to match branding colors */
body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  /*font-family: 'IM Fell Great Primer', serif !important;*/
  color: #1F2936;
}

.NewspaperHeadline {
    font-family: 'B612 Mono', monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
}

.NewspaperPrint p {
    font-family: 'Aleo', serif;
    text-align: justify;
}

/* Sticky footer styles  see http://getbootstrap.com/docs/4.1/examples/sticky-footer/
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: transparent;
  font-size: .75rem;
  border-top: solid;
  border-color: #7C0A02;
}

/* customize Email address in footer */
.email {
  text-decoration: none;
  color: #310401;
}

.email:visited {
  text-decoration: none;
  color: #310401;
}

/* Custom color border and background for top nav */
.container-top {
  border-bottom: solid;
  border-color: #7C0A02;
  background-color: white;
}

/* Custom color and font for nav, no underline*/
.nav,
.nav-item,
.nav-link,
.navbar-light {
    color: #1F2936;
    font-size: 1.0rem;
    text-decoration: none;
    background-color: inherit;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   color: rgba(31, 41, 54, 0.9);
}
.navbar-light .navbar-nav .nav-link {
   color: rgba(31, 41, 54, 0.5);
}

/*Customize button colors*/


.btn-outline-dark {
  color: #7C0A02;
  background-color: transparent;
  background-image: none;
  border-color: #1F2936;
}

.btn-outline-dark:hover {
  color: #eceff4;
  background-color: #7C0A02;
  background-image: none;
  border-color: #7C0A02;
}

.btn-outline-dark:visited {
  color: #7C0A02;
  background-color: transparent;
  background-image: none;
  border-color: #1F2936;
  text-decoration: none;
}


/* Error 404 page style
-------------------------------------------------- */
#jumbotron_img {
  border-bottom: solid;
  border-color: #1F2936;
  background: #fff url("/assets/images/4-computer-cat.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
  height: 100%;
  opacity: 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

#jumbotron_img1 {
  border-bottom: solid;
  border-color: #1F2936;
  background: #fff url("/assets/images/work-in-progress.jpg") no-repeat center center;
  background-size: 100% 100%;
  height: 100%;
  opacity: 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.errorpage {
  font-family: 'Abel';
}

/*
  setting custom height of nav bar for small & extra small screens 
  by adjusting the logo size
*/
@media (min-width: 0px) {
  #logo {
  height: 60px;
  width: 60px;
  } 
}

@media (min-width: 768px) {
  .navbar {
    height:55px;
  }

  #logo {
    height: 120px;
    width: 120px;
  }  

}
